
/* Global Styling */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --background: #F2F3F4;
    --color-blue: hsl(206, 100%, 55%);
    --color-icon:black;
    --color-white: white;
    --cards-background:#F2F3F4;
    --cards-shadow:#ABB2B9;
    --footer-background :rgb(33, 43, 53);
    --footer-color: rgb(16, 19, 19);
    --text-color: black;
    --but-border:#1b9bff;
}
.darkmode {
    --background: rgb(33, 43, 53);
    --color-blue: #1b9bff;
    --color-icon:rgb(240, 240, 240);
    --color-white: rgb(255, 246, 246);
    --cards-background:#cbcdd0;
    --cards-shadow:#cacdd0;
    --footer-background :rgb(33, 43, 53);
    --footer-color: rgb(16, 19, 19);
    --text-color: #ABB2B9;
    --but-border:black;
}
body {
    margin: 0 auto;
	/* max-width: 1100px; */
	width: 100%;
    font-family: Poppins;
    background-color: var(--background);
    line-height: 1.5;
	transition: background-color 0.1s linear;
    scroll-behavior: smooth;
}
  
nav,
.main,
.projects,
.skills {
    max-width: 1100px;
    margin: 0 auto;
}

/* Component Styling */
    /* Navbar Styling */

nav {
    /* background-color:#F2F3F4; */
    height: 80px;
    width: 100%;
}
label.logo {
	position: relative;
	z-index: 1;
	cursor: pointer;
	border-radius: 50%;
	font-size: 2.2rem;
    line-height: 80px;
    font-weight: bold;
    color: var(--text-color);
}
label.logo:hover {
    color: var(--color-blue);
    transition: 1s;
}
nav ul {
    float: right;
    margin-right: px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    padding: 0 0 0.12em 0;
	position: relative;
    color: var(--text-color);
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
a:hover {
    color:var(--color-blue);
}
nav ul li a::after {
    content: "";
    position: absolute;
    background-color: var(--color-blue);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
a:hover:after {
    width: 100%;
    color: var(--color-blue);
}
.checkbtn {
    font-size: 30px;
    color: var(--color-black);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.fa-moon{
    color: var(--color-icon);
    font-size: 1.5rem;
    position: relative;
    left: 96%;
    bottom: 4%;
}

    /* Main Intro Section Styling */

.main {
    display: flex;
	align-items: center;
    margin-top: 5em;
	justify-content: space-between;
}
h1 {
    font-size: 5rem;
}
.main h1 {
    color: var(--text-color);
    display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.main-name {
    color: var(--color-blue);
    line-height: 4.5rem;
}
.main-about {
    flex-basis: 40%;
}
.main-about p {
    margin-top: 40px;
    margin-right: 10px;
	font-size: 1.1rem;
    color: var(--text-color);
}
.main-about .btn {
	margin-top: 2.2em;
}

    /* Resume Botton Styling*/

.btn-outline {
    outline: none;
    display: block;
    border: solid 1px var(--but-border);
    font-size: 16px;
    line-height: 1;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 30px;
    background: var(--text-color);
    color: var(--color-white);
    cursor: pointer;
    
}
.btn-outline:hover{
    background: var(--color-blue);
    transition: all 0.3s ease-out;
    font-size: 20px;
}

    /* Project Section Styling */

.projects {
	margin-top: 6em;
}
.project-title {
    cursor: pointer;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-transform: uppercase;
    font-size: 2.0em;
}
.project-title::after {
	content: '';
	margin: 0.01em auto 0 auto;
	display: block;
	width: 2em;
	border-bottom: 0.2em solid var(--color-blue);
}
.project-container{
    
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.cards {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 50px 30px;
    /* margin-bottom: 0px; */
    background-color: var(--cards-background);
    width: 950px;
    height: 350px;
    box-shadow: 5px 5px 10px var(--cards-shadow);
    border-radius: 10px;
}
.project-img img{
    width: 450px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* overflow:hidden; */
    object-fit:fill;
}
.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-details h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}
.project-details h3:hover {
    text-align: center;
    margin-top: 20px;
    font-size: 2.2rem;
    color:var(--color-blue);
    transition: all 0.2s ease-in-out;
}
.project-details p {
    padding: 8px 12px 5px 12px;
    text-align: justify;
}
.project-icons {
    display: flex;
    font-size: 40px;
    justify-content: space-evenly;
}
.fa-github:hover { 
    font-size: 47px;
    justify-content: start;
    color:var(--color-blue);
    transition: all 0.2s ease-in-out;
}
.fa-link:hover { 
    font-size: 47px;
    justify-content: start;
    color:var(--color-blue);
    transition: all 0.2s ease-in-out;
}
.links {
    padding: 10px;
}

    /* Skills Section Styling */
.skills {
    margin-top: 6em;
}
.skills-title {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.0em;
}
.skills-title::after {
    content: '';
    margin: 0.01em auto 0 auto;
    display: block;
    width: 6em;
    border-bottom: 0.2em solid var(--color-blue);
}
.skills-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.skills-card {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    /* border: 1px solid red; */
}
.tech-list {
    width: 200px;
    height: 300px;
    color: var(--text-color);
    /* border: 1px solid red; */
}

.tech-title{
    flex-direction: column;
	position: relative;
    /* color: black; */
    border-radius: 3px;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 100;
    text-align: center;
    /* border: 1px solid red; */
    cursor: pointer;
}
.tech-title:after {
    content: "";
    position: absolute;
    background-color: var(--color-blue);
    height: 3px;
    width: 0;
    left: 10px;
    bottom: -1px;
    transition: 0.5s;
}
.tech-title:hover:after {
    width: 90%;
    color: var(--color-blue);
}
.last-title:after {
    content: "";
    position: absolute;
    background-color: var(--color-blue);
    height: 3px;
    width: 0;
    left: 50px;
    bottom: -1px;
    transition: 0.5s;
}
.last-title:hover:after {
    width: 45%;
    color: var(--color-blue);
}
.tech-details {
    margin-top: 15px;
    text-align: center;
    line-height: 2.3em;
}
    /* Footer Styling */

#footer{
    background-color: var(--footer-background);
    color: var(--footer-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* .footerLink{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	left: 0;
	right: 0;
} */
/* #links{
    color:inherit;
    margin: 1rem 3rem;
} */
/* .pageLink {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.1rem;
    color: azure;
    text-decoration: none;
}
.pageLink:-webkit-any(){
    cursor:pointer;
    text-decoration: solid;
} */
#footer-footer-iconsLink{
    width: 500px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
}
.footer-icons {
    will-change: scale, translateY;
    color: var(--color-white);
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 0.5rem;
    transition: transform 0.2s ease-in;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}

/* Responsive Design Styling */

@media (max-width:950px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;     
    }
    .footer {
        width: 100%;
        justify-content: stretch;
    }
    .project-card{
        justify-content: center;
    }

}

@media (max-width:580px){
    .checkbtn{
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background:#D5DBDB;
        top: 80px;
        left: -100%;
        text-align: center;
        transition:all 1s;
    }
    nav ul li {
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: var(--color-blue);
    }
    #check:checked ~ ul {
        left: 0%;
    }
    .main,
	.main-about{
		margin-top: 2.5em;
	}

	.main {
		padding-bottom: 1em;
		flex-direction: column;
	}

	.main h1,
	.main-about {
		width: 100%;
	}
    .footerLink{
        position:relative;
        flex-direction: column;
        text-align: center;
    }
    .project-card{
        flex-direction: column;
        justify-content: center;
        /* padding-left: 40px; */
    }
    .skills-card{
        width: 10px;
    }
}

@media screen and (max-width: 950px) {
    .project-container{
      flex-direction: column;
    }
    .project-card{
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        max-width: 700px;
    }
    .project-icons {
        margin-top: -10px;
    }
    .skills-card{
        flex-wrap: wrap;
    }
  }